.navbar{
    background-color: #273036;
    color:#9b8f78 !important;
}
.nav-item{
    border-left: 1px solid whitesmoke;
}
.info img{
    width: 100%;
    border-radius: 500px;
}
a:hover{
    color: white !important;
    font-weight: 500;
}
.container{
    height: 550px;
    margin: 40px 20px;
}
.container img{
    height: 300px;
    margin: 10px 60px;
}
.social {
    display: block;
    width: 100%;
    float: right;
    margin: 50px 50px 0px -50px;
}
.social img{
width: 30px;
height: 30px;
display: block;
float: right;
margin: 10px 5px;
}
.row h1{
font-size: 70px;
line-height: 75px;
margin: auto;
}

.info-1 {
    background-image: url(/assests/wave.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    margin:100px auto;
}
 main h1{
    font-size: 100px;
    text-align: center;
}
.design {
    display: inline-block;
    margin: 10px auto;
    width: 100%;
}
.design .row{
    border: dashed dimgrey;
    border-radius: 20px;
    margin: 10px auto;
    width: 60%;            
}
.design h1{
    font-size: 50px;
    margin: 10px 15px;
    font-weight: 400;
    width: 100%;
}
.design p{
   width: 300px;
   margin: 2px 40px;
}
.project{
    width: 90%;
    margin: auto;
    height: 900px;
}
.project .portfolio{
    width: 29%;
    margin: 25px;
    float: left;
    border: 1px dotted limegreen;
    border-radius: 20px;
}
.grid-1 {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: center;
    align-content: center;
}
.grid-2 {
    display: grid;
    grid-template-columns:auto auto auto auto auto auto;
    justify-content: center;
    align-content: center;
}
#skills img{
    width: auto;
    margin: 30px;
    height: 150px;
}#hire{
    background-color: #f3f9fb;
}
.hire-me img{
    height: 25px;
}
.hire-me{
    width: 50%;
    font-size: 22px;
    margin: auto;
    background-color: #e9f5f9;
}
.info-hire-me{
    font-size: 20px;
    line-height: 60px;
}
.hire-me input{   
    line-height: 40px;
    width: 100%;
    padding-left: 15px;
    border: 1px solid #92b8dd;
    border-radius: 5px;
    box-shadow: 1px 0px 1px 1px;
}
textarea{
    width: 100%;
    height: 150px;
}